@font-face {
    font-family: Poppins-Regular;
    src: url('../html/fonts/poppins/Poppins-Regular.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Bold;
    src: url('../html/fonts/poppins/Poppins-Bold.ttf'); 
  }
  
  @font-face {
    font-family: Poppins-Medium;
    src: url('../html/fonts/poppins/Poppins-Medium.ttf'); 
  }
  
  @font-face {
    font-family: Montserrat-Bold;
    src: url('../html/fonts/montserrat/Montserrat-Bold.ttf'); 
  }

.ctn {
    background-color: grey;
}

body {
    font-family: Poppins-Regular;
}

#title {
    font-family: Poppins-Bold;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

#nav {
    color: white;
}

ul {
    align-items: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

#background {
    opacity: 0.7
}

#welcome {
    font-size: 50px
}

.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {

    background-color: #cc5a01;
    border-radius: 50%;
}